<html>
<style>
	@media screen {
		.print-format {
			padding: 0.25in;
		}
	}
</style>

<table class="no-border">
	<tbody>
        <tr>
            <td class="text-left" style="width: 76%;font-size: 200%">
                    {{ frappe.db.get_value("Promotions Budget", doc.debit_memo, "supplier")}}
            </td>
            <td class="text-right" style="width: 50%;font-size: 150%">
                PROMO PRODUCTION
            </td>
        </tr>
        <tr>
            {%- if frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Buy x Take x" -%}
                {%- if doc.required_items[0].item_name == doc.required_items[1].item_name and frappe.db.get_value("Promo Items", {"parent": doc.promo_name,"description": doc.required_items[0].item_name}, "quantity_pitem") == "1" and frappe.db.get_value("Promo Items", {"parent": doc.promo_name,"description": doc.required_items[1].item_name}, "quantity_pitem") == "1"-%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                        B1T1
                    </td>
                {% else %}
                     <td class="text-left" style="width: 70%;font-size: 200%">
                        Bundling
                    </td>
                {%- endif %}

                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
            {%- if  frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Rebate" -%}
                {%- if frappe.db.get_value("Promotions", doc.promo_name, "rebate") == "50" and frappe.db.get_value("Promotions", doc.promo_name, "percentage") == 1 -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                        Less 50%
                    </td>
                {%- endif %}
                {%- if frappe.db.get_value("Promotions", doc.promo_name, "rebate") != "50" and  frappe.db.get_value("Promotions", doc.promo_name, "percentage") == 1 -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                       Price off {{frappe.db.get_value("Promotions", doc.promo_name, "rebate")}} %
                    </td>
                {%- endif %}
                {%- if frappe.db.get_value("Promotions", doc.promo_name, "rebate") and  frappe.db.get_value("Promotions", doc.promo_name, "percentage") == 0 -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                       Price off {{frappe.db.get_value("Promotions", doc.promo_name, "rebate")}}
                    </td>
                {%- endif %}

                <td class="text-right" style="width: 50%;font-size: 130%">
                    {{doc.name}}
                </td>
            {%- endif %}
            {%- if frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Ka Negosyo" -%}
                <td class="text-left" style="width: 70%;font-size: 200%">
                        Ka Negosyo
                </td>
                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
            {%- if frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Suki Points" -%}
                <td class="text-left" style="width: 70%;font-size: 200%">
                        Suki Points
                </td>
                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
            {%- if frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Buy x Take x + Rebate" -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                        Buy x Take x + Rebate
                    </td>

                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
        </tr>
	</tbody>
</table>

<hr>

<div style="width: 100%;">
	<table width="100%"  style="margin: 1% 1% 1% 1%;border:none !important;">
        <tr>
            <td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                {{_("Promo Name")}}
            </td>
            <td colspan="3" class="text-left" style="height: 5%;width: 85%;font-size: 120%">
                <b><span style="margin-left: 3%"> {{ doc.promotion_name }} </span></b>
            </td>

		</tr>
		<tr>
			<td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                {{_("Barcode No.")}}
            </td>

            <td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                {% set item =  frappe.db.get_value("Promotions", doc.promo_name, "new_item_name") %}
                <span style="margin-left: 10%"> {{ frappe.db.get_value("Item", {"item_name_dummy": item}, "barcode_retial") }} </span>
            </td>

            <td class="text-right" style="height: 5%;width: 20%;font-size: 140%">
                 {{_("Debit Memo")}}
            </td>

			<td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 6%">
                    {{ frappe.db.get_value("Promotions Budget", doc.debit_memo, "debit_memo")}}<span style="font-size: 80%">({{ doc.debit_memo}})</span>
                </span>
            </td>

		</tr>
        <tr>
			<td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                {{_("Total Qty")}}
            </td>

            <td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 10%"> {{doc.total_quantity}} </span>
            </td>

             <td class="text-right" style="height: 5%;width: 20%;font-size: 140%">
                 {{_("Total Budget")}}
            </td>

			<td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 6%"> {{ "{:,.2f}".format(frappe.db.get_value("Promotions Budget", doc.debit_memo, "total_budget"))}} </span>
            </td>
		</tr>
        <tr>
			<td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                {{_("Promo Price")}}
            </td>

            <td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 10%"> {{ "{:,.2f}".format(frappe.db.get_value("Promotions", doc.promo_name, "srp_of_bundle"))  }} </span>
            </td>

             <td class="text-right" style="height: 5%;width: 20%;font-size: 140%">
                Promotion Series
             </td>

			<td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                {{doc.promo_name}}
            </td>
		</tr>
        {%- if doc.purchase_order or doc.purchase_invoice or doc.receiving_report %}
        <tr>
			<td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                {%- if doc.purchase_order %} PO {%- endif %} {%- if doc.receiving_report %} /RR {%- endif %} {%- if doc.purchase_invoice %} /PI {%- endif %}
            </td>

            <td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 10%"> {%- if doc.purchase_order %} {{doc.purchase_order}} {%- endif %} {%- if doc.receiving_report %} {{doc.receiving_report}} {%- endif %} {%- if doc.purchase_invoice %} {{doc.purchase_invoice}} {%- endif %}</span>
            </td>

             <td class="text-right" style="height: 5%;width: 20%;font-size: 140%">

             </td>

			<td class="text-left" style="height: 5%;width: 30%;font-size: 140%">

            </td>
		</tr>
        {%- endif %}
        {%- if frappe.db.get_value("Promotions", doc.promo_name, "free_goods_delivered_by_supplier") %}
        <tr>
			<td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                Memo
            </td>

            <td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 10%"> Free goods delivered by supplier </span>
            </td>

             <td class="text-right" style="height: 5%;width: 20%;font-size: 140%">

             </td>

			<td class="text-left" style="height: 5%;width: 30%;font-size: 140%">

            </td>
		</tr>
        {%- endif %}
    </table>
</div>
	<table style="margin-top: 10px" width="100%">
        <tr>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 60%;border: 1px solid black;">{{ _("Item Name") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("Cost") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("WS Margin Rate") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("Retail Margin Rate") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("Packing") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("Wholesale Price") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("SRP") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("Pcs") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 10%;border: 1px solid black;">{{ _("Case") }}</td>
        </tr>
        {%- for i in doc.required_items -%}
            <tr>

                <td style="font-size: 110%;width: 20%;border: 1px solid black;">{{ i.item_name }}
                    {%- if i.free_item %}
                        <span style="font-size: 80%;font-weight: bold"> (Free Item) </span>
                    {%- endif %}
                </td>
                 <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">

                           {%- if frappe.db.get_value("Item", i.item_code, "item_cost") %}
                                {{"{:,.2f}".format(frappe.db.get_value("Item", i.item_code, "item_cost"))}}
                            {%- endif %}


                </td>
                <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                           {%- if frappe.db.get_value("Item", i.item_code, "margin_rate") | float != 0 %}
                                {{"{:,.2f}".format(frappe.db.get_value("Item", i.item_code, "margin_rate"))}}
                            {%- else %}
                            0.00
                            {%- endif %}


                </td>
                <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                        {%- if frappe.db.get_value("Item", i.item_code, "retail_margin_rate") | float != 0%}
                                {{"{:,.2f}".format(frappe.db.get_value("Item", i.item_code, "retail_margin_rate"))}}
                    {%- else %}
                            0.00
                        {%- endif %}


                </td>
                <td class="text-left" style="font-size: 120%;width: 10%;border: 1px solid black;">
                    {%- if frappe.db.get_value("Item", i.item_code, "packing") %}
                                {{"{:,.2f}".format(frappe.db.get_value("Item", i.item_code, "packing"))}}
                                                       {%- endif %}


                </td>
                <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                    {%- if frappe.db.get_value("Item", i.item_code, "item_price") %}
                                {{"{:,.2f}".format(frappe.db.get_value("Item", i.item_code, "item_price"))}}
                                                      {%- endif %}


                </td>

                <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                    {%- if i.free_item %}

                        {%- if frappe.db.get_value("Item", i.item_code, "item_price_retail_with_margin") %}
                            {% set srp_value = "{:,.2f}".format(frappe.db.get_value("Item", i.item_code , "item_price_retail_with_margin") | float  / frappe.db.get_value("Promotions", doc.promo_name, "pcs_in_pack") | float ) | str %}
                        {%- else %}
                            {% set srp_value = "0.00" %}
                        {%- endif %}


                        {%- if srp_value[srp_value | length | int - 1] | int > 5 %}
                            {{ "{:,.2f}".format(srp_value | float | round(1, 'ceil')) }}
                        {%- endif %}
                        {%- if srp_value[srp_value | length | int - 1] | int < 5 and srp_value[srp_value | length | int - 1] | int > 0 %}
                            {{ "{:,.1f}".format(srp_value | float) | str + "5" }}
                        {%- endif %}
                        {%- if srp_value[srp_value | length | int - 1] | int == 5 or srp_value[srp_value | length | int - 1] | int == 0%}
                            {{ srp_value | float }}
                        {%- endif %}
                    {%- else %}
                        {{ frappe.db.get_value("Item", {"item_code": i.item_code}, "item_price_retail_with_margin") }}
                    {%- endif %}

                </td>
                <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                   {%- if i.free_item %}
                        {{ (i.required_qty | float * frappe.db.get_value("Promotions", doc.promo_name, "pcs_in_pack") | float) | int}}
                    {%- else %}
                           {%- if frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Ka Negosyo" %}
                                {{ i.required_qty | float * frappe.db.get_value("Item", i.item_code, "packing") | float | int}}
                            {%- else %}
                                {{i.required_qty | int}}
                            {%- endif %}
                    {%- endif %}

                </td>
                <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                {%- if i.free_item %}
                        {%- if frappe.db.get_value("Item", i.item_code, "packing") %}
                            {{ "{:,.2f}".format((i.required_qty | float * frappe.db.get_value("Promotions", doc.promo_name, "pcs_in_pack") | float) | float / (frappe.db.get_value("Item", i.item_code, "packing") | float * frappe.db.get_value("Promotions", doc.promo_name, "pcs_in_pack") | float) | float)  }}
                          {%- endif %}

                {%- else %}
                    {%- if frappe.db.get_value("Promotions", doc.promo_name, "promotion_scheme") == "Ka Negosyo" %}
                        {{( "{:,.2f}".format(i.required_qty | float * frappe.db.get_value("Item", i.item_code, "packing") | float / frappe.db.get_value("Item", i.item_code, "packing") | float ) | float)}}
                    {%- else %}
                        {{ "{:,.2f}".format(i.required_qty | float / frappe.db.get_value("Item", i.item_code, "packing") | int ) }}
                    {%- endif %}
                {%- endif %}
                </td>
            </tr>
        {%- endfor -%}

        <tr>
            <td style="width:20%;border: 1px solid black;"></td>
            <td style="width: 10%;border: 1px solid black;"></td>
            <td style="width: 10%;border: 1px solid black;"></td>
            <td style="width: 10%;border: 1px solid black;"></td>
            <td style="width: 10%;border: 1px solid black;"></td>
            <td class="text-right" colspan="3" style="font-size: 120%;width: 10%;border: 1px solid black;">
                <b> Promo Price </b>
            </td>
            <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                <b> {{ "{:,.2f}".format(frappe.db.get_value("Promotions", doc.promo_name, "srp_of_bundle"))  }} </b>
            </td>
        </tr>
        <tr>
            <td style="width: 20%;border: 1px solid black;"></td>
            <td style="width: 20%;border: 1px solid black;"></td>
            <td style="width: 20%;border: 1px solid black;"></td>
            <td style="width: 20%;border: 1px solid black;"></td>
            <td class="text-right" colspan="4" style="font-size: 120%;width: 10%;border: 1px solid black;">
                <b> Total Amount <span style="font-size: 80%">(Free Goods)</span> </b>
            </td>
            <td class="text-right" style="font-size: 120%;width: 10%;border: 1px solid black;">
                <b> {{ "{:,.2f}".format( doc.srp)  }} </b>
            </td>
        </tr>
    </table>
<table style="margin-top: 10px" width="100%">
        <tr>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 35px;border: 1px solid black;">{{ _("Operation") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Qty") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Operating Cost") }}</td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Subtotal") }}</td>
        </tr>
        {%- for i in doc.productions_costs -%}
            <tr>
                <td style="font-size: 140%;width: 35px;border: 1px solid black;">{{ i.operation }}</td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                   {{ doc.total_quantity }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ i.operating_cost }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ "{:,.2f}".format(i.subtotal_cost)  }}
                </td>
            </tr>
        {%- endfor -%}
    {%- if doc.cellophane != None -%}
            <tr>

                         <td style="font-size: 140%;width: 35px;border: 1px solid black;"> Cellophane ({{ doc.cellophane }})</td>

                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                   {{ doc.c_quantity }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ doc.cellophane_price }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ "{:,.2f}".format(doc.cellophane_subtotal)  }}
                </td>

            </tr>{%- endif %}
{%- if doc.scotch_tape != None -%}
            <tr>
                <td style="font-size: 140%;width: 35px;border: 1px solid black;">Scotch Tape ({{ doc.scotch_tape }})</td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                   {{ doc.st_quantity }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ doc.scotchtape_price }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ "{:,.2f}".format(doc.scotchtape_subtotal) }}
                </td>
            </tr>{%- endif %}
{%- if doc.hours != None -%}
            <tr>
                <td style="font-size: 140%;width: 35px;border: 1px solid black;">Sealer</td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                   {{ doc.hours }} hrs
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ doc.sealer }}
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    {{ "{:,.2f}".format(doc.sealer_subtotal) }}
                </td>
         </tr>{%- endif %}

            <tr>
                <td style="font-size: 140%;width: 35px;border: 1px solid black;"></td>
                <td class="text-right" style="width: 17px;border: 1px solid black;"></td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    <b> Operation Subtotal </b>
                </td>
                <td class="text-right" style="font-size: 120%;width: 17px;border: 1px solid black;">
                    <b> {{ doc.subtotal_op + doc.cellophane_subtotal + doc.scotchtape_subtotal + doc.sealer_subtotal }} </b>
                </td>
            </tr>
</table>
<table class="no-border" style="margin-top: 30px" width="100%">
	<tbody>
        <tr>
            <td class="text-center" height="20" style="font-size: 120%;font-weight: bold;width: 20%">Prepared by:</td>
            <td class="text-left"  height="20" style="border-bottom: 1px solid black;font-size: 120%;font-weight: bold;width: 30%"></td>
            <td class="text-right" height="20" style="width: 30%;font-size: 140%">
                Total Production Costs
            </td>
            <td class="text-right" height="20" style="width: 30%;font-size: 140%">
                <b> {{ "{:,.2f}".format(doc.total_costs) }} </b>
            </td>
        </tr>
	</tbody>
</table>
<table style="margin-top: 50px" width="100%">
        <tr>
            <td class="text-center" height="20" style="font-size: 120%;font-weight: bold;width: 20%">Checked by:</td>
            <td class="text-left" height="20" style="border-bottom: 1px solid black;font-size: 120%;font-weight: bold;width: 30%"></td>
            <td class="text-center" height="20" style="font-size: 120%;font-weight: bold;width: 20%">Approved by:</td>
            <td class="text-left" height="20" style="border-bottom: 1px solid black;font-size: 120%;font-weight: bold;width: 30%"></td>
        </tr>
</table>
<table style="height: 1%;margin-top: 10px" width="100%">
        <tr>
            <td class="text-center" height="20" style="font-size: 120%;font-weight: bold;width: 20%"></td>
            <td class="text-left" height="20" style="font-size: 120%;font-weight: bold;width: 30%"></td>
            <td class="text-left" height="20" style="font-size: 120%;font-weight: bold;width: 20%"></td>
            <td class="text-left" height="20" style="font-size: 120%;font-weight: bold;width: 30%"></td>
        </tr>
</table>
</html>
