        <html>
        <style>
            @media screen {
                .print-format {
                    padding: 0.25in;

                }
                .vertical-text {
            transform: rotate(270deg);
            transform-origin: left top 0;
        }


            }

        </style>

        <table class="no-border" width="100%">
            <tbody>
                <tr>
                    <td class="text-left" style="width: 27%;font-size: 150%">
                            {{ doc.supplier }}
                    </td>
                    <td class="text-left" style="width: 36%;font-size: 150%"></td>
                    <td class="text-left" style="width: 27%;font-size: 150%">
                        PROMOTIONS CALCULATION
                    </td>
                </tr>
                <tr>
                    <td class="text-left" style="width: 27%;font-size: 150%">
                        {{ doc.promotion_scheme }}

                    </td>
                    <td class="text-center" style="width: 36%;font-size: 150%">
                        {{ doc.name }}
                    </td>
                    <td class="text-left" style="width: 27%;font-size: 150%">{{ doc.date }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
         {%- if doc.purchase_order -%}
        <table class="no-border" width="100%">
            <tbody>
                <tr>
                    <td class="text-left" style="width: 25%;font-size: 120%">
                            Purchase Order
                    </td>
                    <td class="text-left" style="font-weight: bold;width: 25%;font-size: 120%">
                        {{doc.purchase_order}}
                    </td>
                    <td class="text-left" style="width: 25%;font-size: 120%">
                    </td>
                    <td class="text-left" style="width: 25%;font-size: 120%">
                    </td>
                </tr>
            </tbody>
        </table>
        {%- endif %}
        {%- if doc.receiving_report -%}
        <table class="no-border" width="100%">
            <tbody>
                <tr>
                    <td class="text-left" style="width: 25%;font-size: 120%">
                            Receiving Report
                    </td>
                    <td class="text-left" style="font-weight: bold;width: 25%;font-size: 120%">
                        {{doc.receiving_report}}
                    </td>
                    <td class="text-left" style="width: 25%;font-size: 120%">

                    </td>
                    <td class="text-left" style="width: 25%;font-size: 120%">

                    </td>
                </tr>
            </tbody>
        </table>
        {%- endif %}
        {%- if doc.purchase_invoice -%}
        <table class="no-border" width="100%">
            <tbody>
                <tr>
                    <td class="text-left" style="width: 25%;font-size: 120%">
                            Purchase Invoice
                    </td>
                    <td class="text-left" style="font-weight: bold;width: 25%;font-size: 120%">
                        {{doc.purchase_invoice}}
                    </td>
                    <td class="text-left" style="width: 25%;font-size: 120%">

                    </td>
                    <td class="text-right" style="width: 25%;font-size: 120%">

                    </td>
                </tr>
            </tbody>
        </table>
        {%- endif %}
        {%- if doc.promotion_scheme == "Buy x Take x" or doc.promotion_scheme == "Buy x Take x + Rebate" or doc.promotion_scheme == "Ka Negosyo" -%}
        <table style="margin-top: 30px" width="100%">
                <tr>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Free Item") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 35px;border: 1px solid black;">{{ _("Regular Item") }}</td>
                </tr>
                {%- for ii in doc.promotions -%}
                    <tr>
                        <td class="text-left" style="font-size: 100%;margin-left: 1%;width: 17px;border: 1px solid black;">{%- if frappe.db.get_value("Item", {"item_code": ii.promo_item}, "item_name_dummy") -%}{{ frappe.db.get_value("Item", {"item_code": ii.promo_item}, "item_name_dummy") }}{%- endif %}{{""}}</td>
                        <td class="text-left" style="font-size: 100%;margin-left: 1%;width: 35px;border: 1px solid black;">{%- if ii.regular_item -%}{{ ii.regular_item }}{%- endif %}{{""}}</td>
                    </tr>
                {%- endfor -%}
                {%- for iii in doc.other_items_table -%}
                    <tr>
                        <td class="text-left" style="font-size: 100%;margin-left: 1%;width: 17px;border: 1px solid black;">{%- if iii.other_name -%}{{ iii.other_name }}{%- endif %}{{""}}</td>
                        <td class="text-left" style="font-size: 100%;margin-left: 1%;width: 35px;border: 1px solid black;"></td>
                    </tr>
                {%- endfor -%}
        </table>
        {%- endif %}
        <table style="margin-top: 30px" width="100%">
                <tr>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 35px;border: 1px solid black;">{{ _("Item Name") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Cost") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Packing") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Margin") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("SRP") }}</td>
                    {%- if doc.promotion_scheme == "Rebate" or doc.promotion_scheme == "Buy x Take x + Rebate" or doc.promotion_scheme == "Ka Negosyo + Rebate" -%}
                        <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">
                            {%- if doc.percentage and doc.rebate_value == 50-%}
                                New SRP (Less 50%)
                            {%- endif %}
                            {%- if doc.percentage and doc.rebate_value != 50-%}
                                New SRP (Price off {{ doc.rebate_value}}%)
                            {%- endif %}
                            {%- if not doc.percentage-%}
                                New SRP(Price off/Save)
                            {%- endif %}
                        </td>
                    {%- endif %}
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Warehouse") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Selling") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Total Pieces") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Total") }}</td>
                </tr>
                {%- for i in doc.promotions -%}
                    <tr>
                        <td style="font-size: 100%;width: 30%;border: 1px solid black;">
                            {{ frappe.db.get_value("Item", {"item_code": i.promo_item}, "item_name_dummy") }} {%- if i.points | float > 0 -%}<b>({{i.points}} pts)</b>{%- endif %}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {{ "{:,.2f}".format(frappe.db.get_value("Item", {"item_code": i.promo_item}, "item_cost")) }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {{ "{:,.2f}".format(frappe.db.get_value("Item", {"item_code": i.promo_item}, "packing")) }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {{ "{:,.2f}".format(frappe.db.get_value("Item", {"item_code": i.promo_item}, "retail_margin_rate")) }}
                        </td>
                     <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {{  i.srp | float }}
                        </td>
                        {%- if doc.promotion_scheme == "Rebate" or doc.promotion_scheme == "Buy x Take x + Rebate" or doc.promotion_scheme == "Ka Negosyo + Rebate"-%}
                            <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                                {%- if doc.percentage -%}
                                    {{"{:,.2f}".format((i.rebates | float) | round(2, 'ceil'))}} <br>({% set srp_value = "{:,.2f}".format((i.srp | float) - (i.rebates | float)) | str %}
                                    {%- if srp_value[srp_value | length | int - 1] | int > 5 %}
                                        {{"{:,.2f}".format(srp_value | float | round(1, 'ceil')) }}
                                    {%- endif %}
                                    {%- if srp_value[srp_value | length | int - 1] | int < 5 and srp_value[srp_value | length | int - 1] | int > 0 %}
                                        {{"{:,.1f}".format(srp_value | float) | str + "5" }}
                                    {%- endif %}
                                    {%- if srp_value[srp_value | length | int - 1] | int == 5 or srp_value[srp_value | length | int - 1] | int == 0%}
                                        {{srp_value | float }}
                                    {%- endif %})
                                 {%- else %}
                                    {{ "{:,.2f}".format(i.rebates | float) }} <br> ({{"{:,.2f}".format(i.srp | float - i.rebates | float)}})
                                {%- endif %}
                            </td>

                        {%- endif %}

                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {%- if i.warehouse != None -%}{{ i.warehouse }}{%- endif %}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {%- if i.selling != None -%} {{ i.selling }}{%- endif %}

                        </td>
                     <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {{ i.qty }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            {{"{:,.2f}".format(i.sub_total)}}
                        </td>

                    </tr>
                {%- endfor -%}
            {%- for ii in doc.other_items_table -%}
                    <tr>
                        <td style="font-size: 100%;width: 30%;border: 1px solid black;">
                            {{ ii.other_name }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        {%- if doc.promotion_scheme == "Rebate" or doc.promotion_scheme == "Buy x Take x + Rebate" or doc.promotion_scheme == "Ka Negosyo + Rebate"-%}
                            <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            </td>
                        {%- endif %}
                        {%- if doc.promotion_scheme == "Rebate" or doc.promotion_scheme == "Buy x Take x + Rebate" or doc.promotion_scheme == "Ka Negosyo + Rebate" -%}
                            <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;">
                            </td>
                        {%- endif %}

                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 10%;border: 1px solid black;"></td>
                    </tr>
                {%- endfor -%}
                    <tr>
                        {%- if doc.promotion_scheme == "Rebate" or doc.promotion_scheme == "Buy x Take x + Rebate" or doc.promotion_scheme == "Ka Negosyo + Rebate"  -%}
                            <td class="text-right" colspan="9" style="font-weight: bold;font-size: 100%;width: 30%;border: 1px solid black;">
                        {%- else %}
                            <td class="text-right" colspan="8" style="font-weight: bold;font-size: 100%;width: 30%;border: 1px solid black;">
                        {%- endif %}
                            Subtotal
                        </td>
                        <td class="text-right" style="font-weight: bold;font-size: 100%;width: 10%;border: 1px solid black;">
                            {{ "{:,.2f}".format(doc.promotions_subtotal) }}
                        </td>

        </table>
        <table style="margin-top: 30px" width="100%">
                <tr>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 35px;border: 1px solid black;">{{ _("Operation") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Qty") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Operating Cost") }}</td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 17px;border: 1px solid black;">{{ _("Subtotal") }}</td>
                </tr>
                {%- for i in doc.operations -%}
                    <tr>
                        <td style="font-size: 100%;width: 35px;border: 1px solid black;">{{ i.operation }}</td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                           {{ doc.total_qty }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ i.operating_cost }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ "{:,.2f}".format(i.sub_total)  }}
                        </td>
                    </tr>
                {%- endfor -%}
            {%- if doc.cellophane != None -%}
                    <tr>

                        <td style="font-size: 100%;width: 35px;border: 1px solid black;"> Cellophane ({{ doc.cellophane }})</td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                           {{ doc.cellophane_quantity }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ doc.cellophane_price }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ "{:,.2f}".format(doc.cellophane_subtotal)  }}
                        </td>

                    </tr>{%- endif %}
        {%- if doc.scotch_tape != None -%}
                    <tr>
                        <td style="font-size: 100%;width: 35px;border: 1px solid black;">Scotch Tape ({{ doc.scotch_tape }})</td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                           {{ doc.scotch_tape_quantity }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ doc.scotch_tape_price }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ "{:,.2f}".format(doc.scotch_tape_subtotal) }}
                        </td>
                    </tr>{%- endif %}
        {%- if doc.hours != None -%}
                    <tr>
                        <td style="font-size: 100%;width: 35px;border: 1px solid black;">Sealer</td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                           {{ doc.hours }} hrs
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ doc.sealer }}
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            {{ "{:,.2f}".format(doc.sealer_subtotal) }}
                        </td>
                 </tr>{%- endif %}

                    <tr>
                        <td style="font-size: 100%;width: 35px;border: 1px solid black;"></td>
                        <td class="text-right" style="width: 17px;border: 1px solid black;"></td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            <b> Operation Subtotal </b>
                        </td>
                        <td class="text-right" style="font-size: 100%;width: 17px;border: 1px solid black;">
                            <b> {{ "{:,.2f}".format(doc.promo_costs_subtotal + doc.cellophane_subtotal + doc.scotch_tape_subtotal + doc.sealer_subtotal) }} </b>
                        </td>
                    </tr>
        </table>
        <table class="no-border" style="margin-top: 30px" width="100%">
            <tbody>
                <tr>
                    <td class="text-center" style="font-weight: bold;width: 15%;">Prepared by:</td>
                    <td class="text-left" style="border-bottom: 1px solid black;font-size: 100%;font-weight: bold;width: 35%"></td>
                    <td class="text-right" style="width: 30%;font-size: 100%">
                        <b> Total Production Costs </b>
                    </td>
                    <td class="text-right" style="width: 30%;font-size: 100%">
                        <b> {{ "{:,.2f}".format(doc.total_costs) }} </b>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin-top: 60px" width="100%">
                <tr>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 15%">Checked by:</td>
                    <td class="text-left" style="border-bottom: 1px solid black;font-size: 100%;font-weight: bold;width: 35%"></td>
                    <td class="text-center" style="font-size: 100%;font-weight: bold;width: 15%">Approved by:</td>
                    <td class="text-left" style="border-bottom: 1px solid black;font-size: 100%;font-weight: bold;width: 35%"></td>
                </tr>
        </table>
        </html>
